.catalog-form__wrapper {
  background-color: @page-form-bg;
}

.catalog-form__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @pink;

  &--cancel {
    color: @basic-font;
    opacity: 0.1;
  }
}
