.download {
  background-image: url("../../img/back-tablet.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.download__wrapper {
  background-image: url("../../img/phone.png");
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 95px 20px 0;
}

.download__title {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: @white;
}

.download__download {
  background-color: @download-bg;
}

.download__button {
  display: block;
  padding: 18px 0;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: @white;
}

.download__link {
  height: 56px;

  &--apple {
    background-image: url("../../img/apple-logo.png");
    background-repeat: no-repeat;
  }

  &--android {
    background-image: url("../../img/android-logo.png");
    background-repeat: no-repeat;
  }

  &--windows {
    background-image: url("../../img/microsoft-logo.png");
    background-repeat: no-repeat;
  }
}

.download__desc {
  line-height: 24px;
  color: @white;
}
