.main-nav__link {
  color: @white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;

  @media (min-width: @desktop-width) {
    font-weight: normal;
    text-transform: none;
    line-height: 18px;
  }
}
